body {
    background-color: #76BBE3; /* Changes background */
    color: #03030d;           /* Changes text color to white */
    font-family: Arial, sans-serif; /* Changes the typography */
}

a {
    color: #03030D;           /* Changes your links color */
}
h1 {
    font-weight: 900; /* Sets the font weight to ultra-bold */
}

